[Unit]
Description=Matrix Relay Daemon
Requires=matrix-relay.socket
After=network-online.target matrix-relay.socket
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/matrix-relay serve
Restart=on-failure
EnvironmentFile=/etc/matrix-relay/matrix-relay.env

[Install]
WantedBy=multi-user.target
